<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Фто</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
  </head>

  <body>
    <form method="post" action="../update/{{User.id}}">
      {% csrf_token %}
      <label>Имя</label>
      <input type="text" name="name" style="display: block;" value={{User.name}}>
      <label>Логин</label>
      <input type="text" name="login" style="display: block;" value={{User.login}}>
      <label>Пароль</label>
      <input type="text" name="pass" style="display: block;" value={{User.password}}>

      <button type="submit">Обновить Данные</button>  
    </form>
    <!-- <h1>Имя: {{User.name}}</h1>
    <h1>Логин: {{User.login}}</h1>
    <h1>Пароль: {{User.password}}</h1> -->
  </body>
</html>
