{% extends "base.html" %}
{% block title %}Password Reset{% endblock title%}
{% block content %}
<p class="display-6 mt-3">Введите email утерянного аккаунта</p>
<form method="post">
    {% csrf_token %}
    <form method="post">
       {% for field in form %}
            <div class="mt-5 mb-3">
                {{ field.label_tag }}

                <input type={{field.widget_type}} value="{{ field.data|default:'' }}" 
                    id={{ field.auto_id }} name={{ field.name }} class="form-control" />

                {% if field.errors %}
                    <div class="alert alert-warning" role="alert">
                        <p>{{ field.errors }}</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</form>

{% endblock content%}